 <div class="topo">
 	<div class="container">
 		<div class="row">
 			<div class="span2" id="header_puts">
 				<h1>put'S</h1>
 				<a href="#sign" data-toggle="modal" class="btn btn-primary btn-large">Sign Up</a>        
 			</div>

 			<div class="span8 pull-right">
 				<ul class="thumbnails" id="header_puts_imgs">
 					<li class="span4">
 						
 					</li>
 					<li class="span4">
 						<%= image_tag("mac.png")%>
 					</li>
 				</ul>
 			</div>
 		</div>
 	</div>
 </div>

 <div class="container">
 	<div class="row" id="box_puts">
 		<div class="span4">
 			<h2>put'S</h2>
 			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
 		</div>
 		<div class="span4">
 			<h2>put'S</h2>
 			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

 		</div>
 		<div class="span4">
 			<h2>put'S</h2>
 			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
 		</div>
 	</div>
 </div>

 <div class="meio">
 	<div class="container">
 		<div class="row">
 			<div class="span4 offset4" id="get_app">
 				<a class="btn btn-primary btn-large">Baixe o put'S para Android</a>
 			</div>
 		</div>
 	</div>
 </div>


