#eng_content{
	min-height:500px;
}
.checklist {
	overflow:auto;
	li{
		line-height: 20px;
		list-style: none;
	}
	input{
		float:left;
		 font-size: 11px;
        background-color: #FFFFFF;
        padding: 1px;
        color: #595224;
        margin: 0px;
        border: 1px solid #cac5a3;
        height: 18px;

	}
}
.lista_compras{
  i{
    padding-right: 10px;
  }
}
.btn-mais{
  margin-top:10px;
  margin-right:10px;
}

#select_user{
  height:30px;
  margin: 10px 0;
}