// body{
// 	background: image_url("cloud3.jpg") top left no-repeat;
// }
// .content{
// 	background: image_url("bg_content.jpg") top left repeat;
// }
.topo {
	height: 384px;
	margin: 60px 0 100px 0;
	background:#232323;
}
#header_puts{
	margin-top: 100px;
	margin-right: 115px;
	padding-left: 70px;
	h1{
		color: #FFF;
		text-align: center;
		padding-bottom: 40px;
		font-size: 40px;
		font-family: 'ubuntubold';
	}
	a{
		display: block;
		background: #BF1B39;
		text-transform: uppercase;
		font-family: 'ubuntubold';
	}
}
.title_navbar{
	font-family: 'ubuntubold';
	font-size:20px;
	color:#FFF !important;
}
.eng_login{
	padding-top: 30px;
}
.modal_login{
	width: 400px !important;
}
.btn_login_social, .eng_login{
	height: 5em;
	margin:1em;
	line-height:5em;
	text-align:center;
	font-family: 'ubuntubold';
	font-size:20px;
	color:#FFF !important;
}
.btn_social_facebook{
	background-color: #3B5998;
}
.btn_social_google{
	background-color: #D14836;
}
.btn_social_puts{
	background-color: #de0c39;
}
#box_puts{
	div{
		margin-bottom: 50px;
		text-align: center;
		h2{
			padding-bottom: 20px;
		}
	}
}
.meio {
	height: 150px;
	margin: 20px 0 20px 0;
}
#get_app{
	a{
		width: 120%;
		height: 30px;
		padding-top: 15px;
		margin-left: -15%;
		background: #a4ca39;
		font-size: 18px;
	}
}
footer{
	background: #232323;
	a{
		color:#FFF;
	}
}