// body{
// 	background: image_url("cloud3.jpg") top left no-repeat;
// }
// .content{
// 	background: image_url("bg_content.jpg") top left repeat;
// }
.topo {
	height: 384px;
	margin: 60px 0 100px 0;
	background:#232323;
}
#header_puts{
	margin-top: 100px;
	margin-right: 115px;
	padding-left: 70px;
	h1{
		color: #FFF;
		text-align: center;
		padding-bottom: 40px;
		font-size: 40px;
		font-family: 'ubuntubold';
	}
	a{
		display: block;
		width:100%;
		min-height: 100%;
		background: #BF1B39;
		text-transform: uppercase;
		font-family: 'ubuntubold';
		-webkit-transition: all .5s linear;
		   -moz-transition: all .5s linear;
		    -ms-transition: all .5s linear;
		     -o-transition: all .5s linear;
		        transition: all .5s linear;
		
	}
	a:hover{
		background: #FFF;
		color: #000;
	}
}
#header_puts_imgs{
	margin-top: 80px;
}
#box_puts{
	div{
		margin-bottom: 50px;
		text-align: center;
		h2{
			padding-bottom: 20px;
		}
	}
}
.meio {
	height: 150px;
	margin: 20px 0 20px 0;
}
#get_app{
	a{
		width: 120%;
		height: 30px;
		padding-top: 15px;
		margin-left: -15%;
		background: #a4ca39;
		font-size: 18px;
	}
}
footer{
	background: #232323;
	a{
		color:#FFF;
	}
}