//hover menu
.nav li a:hover{
	background-color: #26bdff !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-o-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.topo {
	background:#232323;
	color: #fff;
	font-size:14px;
}
.topo  > div{
	padding:40px;
}
.topo input{
	padding: 10px;
	border-radius:2px !important;
}
.input_sign{
	width:80%;
	padding:10px;
}.google{
	background: image_url("google.png") #DA3B35 left center no-repeat !important ;
}
.facebook{
	background: image_url("face.png") rgb(60, 90, 152) left center no-repeat !important ;
}
.auth-button:hover{
	cursor:pointer;
	text-decoration:none !important;
	color:#fff;
}
.text{
	text-align:center;
	width:100%;
	display:block;
}
.auth-button{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: background;
	-webkit-transition-timing-function: ease;
	background-attachment: scroll;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: auto;
	display: block;
	font-family: Lato, sans-serif;
	font-size: 17px;
	height: 60px;
	margin-bottom: 35px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 55px;
	padding-bottom: 15px;
	padding-left: 70px;
	padding-right: 10px;
	padding-top: 15px;
	text-align: left;
	text-decoration: none;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: background;
	transition-timing-function: ease;
}
#header_puts{
	margin-top: 100px;
	margin-right: 115px;
	padding-left: 70px;
	h1{
		color: #FFF;
		text-align: center;
		padding-bottom: 40px;
		font-size: 40px;
		font-family: 'ubuntubold';
	}
	a{
		display: block;
		background: #BF1B39;
		text-transform: uppercase;
		font-family: 'ubuntubold';
	}
}
.title_navbar{
	font-family: 'ubuntubold';
	font-size:20px;
	color:#FFF !important;
}
.eng_login{
	padding-top: 30px;
}
.modal_login{
	width: 400px !important;
}
.btn_login_social, .eng_login{
	height: 5em;
	margin:1em;
	line-height:5em;
	text-align:center;
	font-family: 'ubuntubold';
	font-size:20px;
	color:#FFF !important;
}
.btn_social_facebook{
	background-color: #3B5998;
}
.btn_social_google{
	background-color: #D14836;
}
.btn_social_puts{
	background-color: #de0c39;
}
#box_puts{
	margin-top:30px;
	div{
		margin-bottom: 50px;
		text-align: center;
		h2{
			padding-bottom: 20px;
		}
	}
}
.meio {
	height: 150px;
	margin: 20px 0 20px 0;
}
#get_app{
	a{
		width: 120%;
		height: 30px;
		padding-top: 15px;
		margin-left: -15%;
		background: #a4ca39;
		font-size: 18px;
	}
}
footer{
	background: #232323;
	a{
		color:#FFF;
	}
}