<div id="sobre" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Sobre</h3>
</div>
<div class="modal-body">
  <h3>O put'S</h3>
		<p>
			O projeto “Puts”, utiliza do conceito de colaboratisvo para criar uma ponto central de organização de uma lista de compras, possibilitando a participação de inumeras pessoas colaborando com suas necessidades em uma mesma lista, podendo ser para realização de um evento, de uma confraternização, ou mesmo para uma familia coloborar entre seus familiares na concentração de suas necessidades em um ponto em comun. O projeto visa disponibilizar estas funcionalidades tanto como um aplicativo para internet, como tambem para uso em smartphones com sistema operacional android.
		</p>
		
		<h3>Novidades</h3>
		<p style="padding-bottom:5px;">
			O aplicativo para internet será disponibilizado utilizando a tecnologia de cloud computing que tem
			inumeras vantagens de utilização deste modelo, em comparação com modelo tradicional disponibilização de aplicativos. Com o uso dessa tecnologias, conseguimos por exemplo, a integração e centralização dos dados de ambos os aplicativos, web e android, em uma base de dados central e compartilhada com todos os colaboradores de tal grupo.
		</p>
</div>
</div>