<div id="feedback" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-right:15px;height:auto;">
  
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Mande seu feedback sobre o put'S</h3>
</div>

<div class="modal-body" method="post">
  <!-- <#% form_tag :controller => 'home', :action => 'enviar_feedback' do %> -->
  <form>
    <label>Nome</label>
    <input type="text" placeholder="Exemplo de nome" class="input-xxlarge" name="[nome]"/>

    <label>Email</label>
    <input type="email" placeholder="exemplo@email.com" class="input-xxlarge" name="[email]"/>

    <label>Mensagem</label>
    <textarea rows="5" class="input-xxlarge" name="[mensagem]"></textarea>

    <!-- <#%= submit_tag "Enviar", :class => "btn btn-large btn-success" %> -->

    <a href="#" class ="btn btn-large btn-success" onClick="alert('Funcionalidade ainda não disponivel');">Enviar</a>

    <!-- <#% end %> -->
  </form>
</div>

</div>